/* You can add global styles to this file, and also import other style files */
h1{
  color: #250;
  font-family: Arial, Times, sans-serif;
  font-size: 800%;
}
h2, h3{
  color: #369;
  font-family: Times, Georgia, sans-serif;
  font-size: 150%;
  font-weight: lighter;


}
body {
  margin: 2em;
}
body, input[text], button {
  color: #900;
  font-family: Cambria, Georgia;
}

*{
  font-size: inherit;
  font-family:  Arial, Helvetica,
}
